
.background {
	margin-top: 0%;
	margin-bottom: 0;
	width: 100%;
	z-index: -1;
	overflow: hidden;
  height: 100vh;
  background-image: url(/img/Mosquito.png);


	top: 0;
	.sun {
		width: 150px;
		height: 150px;
		border-radius: 100%;
		position: absolute;
		right: 30px;
		top: 30px;
		background-color: #e0e0e0;
		box-shadow: 0 0 50px #e2e2e2;
		opacity: 0.9;
	}
	.sand {
		position: absolute;
		bottom: 0px;
		width: 100%;
		height: 150px;
		background: #fbeec1;
		background: -moz-linear-gradient(top, #f5b144 0%, #f1dd9c 100%);
		background: -webkit-linear-gradient(top, #f7b348 0%, #f1dd9c 100%);
		background: linear-gradient(to bottom, #f3b851 0%, #f1dd9c 100%);
		filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f8be5b', endColorstr='#f4b44b',GradientType=0 );
		.mountains {
			width: 100%;
			height: 60px;

			background-size: auto 100%;
			position: absolute;
			top: -60px;
			background-position: 300px 0;
		}
	}
}

  



.slides {
  display: grid;
  overflow: hidden;
  margin-right: -15%;
  margin-left: -18%;
  margin-bottom: -10%;


  > .slide {
    grid-area: 1 / -10;
   margin-left: 428px;
   margin-top: 60px;
   margin-bottom: 140px;

  }

  > button {
    appearance: none;
    background: transparent;
    border: none;
    color: white;
    position: relative;
    margin-right: 100px;

    font-size: 5rem;
    width: 5rem;
    height: 5rem;
    top: 30%;
    transition: opacity 0.3s;
    opacity: .8;
    z-index: 3;

    &:hover {
      opacity: 1;
    }

    &:focus {
      outline: none;
    }

    &:first-child {
      left: -325%;
      top: 26%;
    }
    &:last-child {
      right: 170%;
      top: 26%;
    }
  }
}


.slideContent {
  width: 45vw;
  height: 30vw;
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
  transition: transform .7s ease-in-out;
  opacity: .5;

  display: grid;
  align-content: center;


  transform-style: preserve-3d;
  transform: perspective(1000px) translateX(calc(100% * var(--offset)))
    rotateY(calc(-45deg * var(--dir)));
}

.slideContentInner {
  transform-style: preserve-3d;

  transition: opacity 0.3s linear;
  text-shadow: 0 0.1rem 1rem #000;
  opacity: .0;

  .slideSubtitle,
  .slideTitle {
    font-size: 2rem;
    font-weight: bold;
    letter-spacing: 0.2ch;
    text-transform: uppercase;
    margin-top: -100px;
    color: rgb(0, 179, 0);
    
  }



  .slideDescription {
    margin: 0;
    font-size: 0.8rem;
    letter-spacing: 0.2ch;
  }
}

.slideBackground {
  position: absolute;
  top: 0;
  left: 10%;
  right: 10%;
  bottom: 0;
  background-size: cover;
  background-position: center center;
  z-index: -1;
  opacity: .0;
  transition: opacity .8s linear, transform 0.3s ease-in-out;
  pointer-events: none;
  margin-left: 90px;
  margin-right: -90px;

  transform: translateX(calc(10% * var(--dir)));
}

.slide[data-active] {
  z-index: 1;
  pointer-events: auto;

  .slideBackground {
    opacity: 0;
    transform: none;
  }

  .slideContentInner {
    opacity: 1;
  }

  .slideContent {
    --x: calc(var(--px) - .5);
    --y: calc(var(--py) - .5);
    opacity: 1;

    transform: perspective(1000px);

    &:hover {
      transition: none;
      transform: perspective(1000px) rotateY(calc(var(--x) * 45deg))
        rotateX(calc(var(--y) * -45deg));
    }
  }
}

.title-box-2 {
  margin-left: 480px;
}

.title-box-1 {
 margin-right: 50px;
}

.form-contact {
  padding: 0px 200px;
}



.title-box-3 {
margin-left: 50px;
}

.line-mf {
  background-color: green;
}

/*Rolling Ball */

@import url(https://fonts.googleapis.com/css?family=Raleway);

*,*:before,*:after { box-sizing: border-box; }





// BB-8
$d: 140px;
.bb8 {
  position: absolute;
  margin-left: -$d/2;
  width: $d;
  
  bottom: 20%;
  left: 0;
}

.ball {

  height: 80px;
}


.shadow {
  background: #3A271C;
  border-radius: 50%;
  height: $d/6;
  opacity: .7;
  position: absolute;
  width: $d;
  z-index: -1;
  
  left: 5px;
  bottom: -8px;
}
.shameless {
  position: absolute;
  
  bottom: 10px;
  right: 10px;
}
a {
  color: #333;
  font-family: 'Raleway', sans-serif;
  text-decoration: none;
}
a:visited {
  color: #333;
}
a:hover,
a:focus {
  color: white;
}

$red: #70c520;
$white: #fff;


.btn {
  color: #fff;
  cursor: pointer;
  // display: block;
  font-size:14px;
  font-weight: 400;
  line-height: 45px;
  margin: 0 0 2em;
  max-width: 190px; 
  position: relative;
  text-decoration: none;
  text-transform: uppercase;
  width: 100%; 
  
//   @media(min-width: 400px) {
//     display: inline-block;
//     margin-right: 2.5em;
  
//     &:nth-of-type(even) {
//       margin-right: 0;
//     }
//   }
  
  @media(min-width: 200px) {
      
    margin: 3em 1em 2em;
  
//     &:nth-of-type(even) {
//       margin-right: 2.5em;
//     }
    
//     &:nth-of-type(5) {
//       margin-right: 0;
//     }
    
  }
  
  &:hover { text-decoration: none; }
  
}

/////////////////////////////////
//button one
///////////////////////////////
.btn-1 {
  background: darken($red, 1.5%);
  font-weight: 900;
  
  svg {
    height: 57px;
    left: 0;
    position: absolute;
    top: 0; 
    width: 100%; 
  }
  
  rect {
    fill: none;
    stroke: #fff;
    stroke-width: 2;
    stroke-dasharray: 422, 0;
    transition: all 0.35s linear;
  }
}

.btn-1:hover {
  background: rgba($red, 0);
  font-weight: 100;
  letter-spacing: 1px;
  font-size: 2;

  rect {
    stroke-width: 5;
    stroke-dasharray: 15, 310;
    stroke-dashoffset: 48;
    transition: all 1.35s cubic-bezier(0.19, 1, 0.22, 1);
  }
}

@import url('https://fonts.googleapis.com/css?family=Playfair+Display:400,400i,700,700i,900,900i');

@import url('https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i,800,800i');


* {
  box-sizing: border-box;
}

html, body {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    display: flex;
    display: -webkit-flex;
    justify-content: center;
  -webkit-justify-content: center;
    align-items: center;
  -webkit-align-items: center;
}

body {
    background-color: #eaeaea;
}

.carousel {
    width: 100%;
    height: 100%;
    display: flex;
    max-width: 900px;
    max-height: 550px;   
    min-height: 400px;
    overflow: hidden;
  position: relative;
}

.carousel-item {
  visibility:visible;
    display: flex;
    width: 100%;
    height: 100%;
    align-items: center;
    justify-content: flex-end;
      -webkit-align-items: center;
    -webkit-justify-content: flex-end;
    position: relative;
    background-color: #fff;
    flex-shrink: 0;
   -webkit-flex-shrink: 0;
    position: absolute;
    z-index: 0;
  transition: 0.6s all linear;

}

.carousel-item__info {
  height: 100%;
  display: flex;
  justify-content: center;
  flex-direction: column;
  
    display: -webkit-flex;
  -webkit-justify-content: center;
  -webkit-flex-direction: column;
  
  order: 1;
  left: 0;
  margin: auto;
  padding: 0 40px;
  width: 40%;

}

.carousel-item__image {
    width: 60%;
    height: 100%;
    order: 2;
    align-self: flex-end;
    flex-basis: 60%;
  
      -webkit-order: 2;
    -webkit-align-self: flex-end;
    -webkit-flex-basis: 60%;
  
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
   position:relative;
  transform: translateX(100%);
  transition: 0.6s all ease-in-out;
}

.carousel-item__subtitle {
    font-family: 'Open Sans', sans-serif;
    letter-spacing: 3px;
    font-size: 10px;
    text-transform: uppercase;
    margin: 0;
    color: #7E7E7E;    
    font-weight: 700;
    transform: translateY(25%);
    opacity: 0;
    visibility: hidden;
    transition: 0.4s all ease-in-out;
}

.carousel-item__title {
    margin: 15px 0 0 0;
    font-family: 'Playfair Display', serif;
    font-size: 44px;
    line-height: 45px;
    letter-spacing: 3px;
    font-weight: 700;
    color: #2C2C2C;
    transform: translateY(25%);
    opacity: 0;
    visibility: hidden;
    transition: 0.6s all ease-in-out;
}

.carousel-item__description {
    transform: translateY(25%);
    opacity: 0;
    visibility: hidden;
    transition: 0.6s all ease-in-out;
    margin-top: 35px;
    font-family: 'Open Sans', sans-serif;
    font-size: 13px;
    color: #7e7e7e;
    line-height: 22px;
    margin-bottom: 35px;
}

.carousel-item--1 {
  background-image: url('https://images.pexels.com/photos/991012/pexels-photo-991012.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940');
}


.carousel-item--2 {
  background-image: url('https://images.pexels.com/photos/921294/pexels-photo-921294.png?auto=compress&cs=tinysrgb&h=750&w=1260');
}

.carousel-item--3 {
  background-image: url('https://images.pexels.com/photos/92733/pexels-photo-92733.jpeg?auto=compress&cs=tinysrgb&h=750&w=1260');
}

.carousel-item--4 {
  background-image: url('https://images.pexels.com/photos/1008732/pexels-photo-1008732.jpeg?auto=compress&cs=tinysrgb&h=750&w=1260');
}

.carousel-item--5 {
  background-image: url('https://images.pexels.com/photos/1029614/pexels-photo-1029614.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940');
}




.carousel-item__container{

}

.carousel-item__btn {
    width: 35%;
    color: #2C2C2C;
    font-family: 'Open Sans', sans-serif;
    letter-spacing: 3px;
    font-size: 11px;
    text-transform: uppercase;
    margin: 0;
    width: 35%;
    font-weight: 700;
  text-decoration: none;
      transform: translateY(25%);
    opacity: 0;
    visibility: hidden;
    transition: 0.6s all ease-in-out;
}

.carousel__nav {
    position: absolute;
    right: 0;
    z-index: 2;
    background-color: #fff;
  bottom: 0;
}

.carousel__icon {
    display: inline-block;
    vertical-align: middle;
    width: 16px;
  fill: #5d5d5d;
}

.carousel__arrow {
    cursor: pointer;
    display: inline-block;
    padding: 11px 15px;
    position: relative;
}

.carousel__arrow:nth-child(1):after {
    content:'';
    right: -3px;
    position: absolute;
    width: 1px;
    background-color: #b0b0b0;
    height: 14px;
    top: 50%;
    margin-top: -7px;
}

.active{
   z-index: 1;
  display: flex;
  visibility:visible;
}

.active .carousel-item__subtitle, .active .carousel-item__title, .active .carousel-item__description,.active .carousel-item__btn{
    transform: translateY(0);
    opacity: 1;
  transition: 0.6s all ease-in-out;
    visibility: visible;
}



.active .carousel-item__image{ 
transition: 0.6s all ease-in-out;
transform: translateX(0);
}

