.background {
  height: 120vh;
}


.title-box-2 {
  margin-left: 480px;
}

.title-box-1 {
 margin-right: 50px;
}

.form-contact {
  padding: 0px 200px;
}



.title-box-3 {
margin-left: 50px;
}

.line-mf {
  background-color: green;
}

/*Rolling Ball */

@import url(https://fonts.googleapis.com/css?family=Raleway);

*,*:before,*:after { box-sizing: border-box; }





// BB-8
$d: 140px;
.bb8 {
  position: absolute;
  margin-left: -$d/2;
  width: $d;

  bottom: 0%;
  left: 0;
  
}

.ball {
  background-image: url(/img/tumbleweed.png);
  height: 80px;

}


.shadow {
  background: #3A271C;
  border-radius: 50%;
  height: $d/6;
  opacity: .7;
  position: absolute;
  width: $d;
  z-index: -1;
  
  left: 5px;
  bottom: -8px;
}
.shameless {
  position: absolute;
  
  bottom: 10px;
  right: 10px;
}
a {
  color: #333;
  font-family: 'Raleway', sans-serif;
  text-decoration: none;
}
a:visited {
  color: #333;
}
a:hover,
a:focus {
  color: white;
}

$red: #70c520;
$white: #fff;


.btn {
  color: #fff;
  cursor: pointer;
  // display: block;
  font-size:14px;
  font-weight: 400;
  line-height: 45px;
  margin: 0 0 2em;
  max-width: 190px; 
  position: relative;
  text-decoration: none;
  text-transform: uppercase;
  width: 100%; 
  
//   @media(min-width: 400px) {
//     display: inline-block;
//     margin-right: 2.5em;
  
//     &:nth-of-type(even) {
//       margin-right: 0;
//     }
//   }
  
  @media(min-width: 200px) {
      
    margin: 3em 1em 2em;
  
//     &:nth-of-type(even) {
//       margin-right: 2.5em;
//     }
    
//     &:nth-of-type(5) {
//       margin-right: 0;
//     }
    
  }
  
  &:hover { text-decoration: none; }
  
}

/////////////////////////////////
//button one
///////////////////////////////
.btn-1 {
  background: darken($red, 1.5%);
  font-weight: 900;
  
  svg {
    height: 57px;
    left: 0;
    position: absolute;
    top: 0; 
    width: 100%; 
  }
  
  rect {
    fill: none;
    stroke: #fff;
    stroke-width: 2;
    stroke-dasharray: 422, 0;
    transition: all 0.35s linear;
  }
}

.btn-1:hover {
  background: rgba($red, 0);
  font-weight: 100;
  letter-spacing: 1px;
  font-size: 2;

  rect {
    stroke-width: 5;
    stroke-dasharray: 15, 310;
    stroke-dashoffset: 48;
    transition: all 1.35s cubic-bezier(0.19, 1, 0.22, 1);
  }
}