/*Rolling Ball */

@import url(https://fonts.googleapis.com/css?family=Raleway);

*,*:before,*:after { box-sizing: border-box; }

.sand {
  z-index: 1;
  position: absolute;
  bottom: 0px;
  width: 100%;
  height: 10%;
  background: #fbeec1;
  background: linear-gradient(to bottom, #f3b851 0%, #f1dd9c 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f8be5b', endColorstr='#f4b44b',GradientType=0 );
}

// BB-8
$d: 140px;
.bb8 {
  position: absolute;
  margin-left: -$d/2;
  width: $d;
  bottom: 10%;
  left: 0;
  right: 0;
}

.ball {
  background-image: url(/img/tumbleweed.png);
  height: 80px;
}

$red: #70c520;
$white: #fff;


.btn {
  color: #fff;
  cursor: pointer;
  // display: block;
  font-size:14px;
  font-weight: 400;
  line-height: 45px;
  margin: 0 0 2em;
  max-width: 190px; 
  position: relative;
  text-decoration: none;
  text-transform: uppercase;
  width: 100%; 
  
  @media(min-width: 200px) {
    margin: 3em 1em 2em;
  }
  &:hover { text-decoration: none; }
}

.btn-1 {
  background: darken($red, 1.5%);
  font-weight: 900;
  
  svg {
    height: 57px;
    left: 0;
    position: absolute;
    top: 0; 
    width: 100%; 
  }
  
  rect {
    fill: none;
    stroke: #fff;
    stroke-width: 2;
    stroke-dasharray: 422, 0;
    transition: all 0.35s linear;
  }
}

.btn-1:hover {
  background: rgba($red, 0);
  font-weight: 100;
  letter-spacing: 1px;
  font-size: 2;

  rect {
    stroke-width: 5;
    stroke-dasharray: 15, 310;
    stroke-dashoffset: 48;
    transition: all 1.35s cubic-bezier(0.19, 1, 0.22, 1);
  }
}